# virtual environment folder
/venv/
# output files
/capitalsQuiz1.txt
/capitalsQuiz2.txt
/capitalsQuiz3.txt
/capitalsQuiz4.txt
/capitalsQuiz5.txt
/capitalsQuiz6.txt
/capitalsQuiz7.txt
/capitalsQuiz8.txt
/capitalsQuiz9.txt
/capitalsQuiz10.txt
/capitalsQuiz11.txt
/capitalsQuiz12.txt
/capitalsQuiz13.txt
/capitalsQuiz14.txt
/capitalsQuiz15.txt
/capitalsQuiz16.txt
/capitalsQuiz17.txt
/capitalsQuiz18.txt
/capitalsQuiz19.txt
/capitalsQuiz20.txt
/capitalsQuiz21.txt
/capitalsQuiz22.txt
/capitalsQuiz23.txt
/capitalsQuiz24.txt
/capitalsQuiz25.txt
/capitalsQuiz26.txt
/capitalsQuiz27.txt
/capitalsQuiz28.txt
/capitalsQuiz29.txt
/capitalsQuiz30.txt
/capitalsQuiz31.txt
/capitalsQuiz32.txt
/capitalsQuiz33.txt
/capitalsQuiz34.txt
/capitalsQuiz35.txt

/capitalsQuiz_answers1.txt
/capitalsQuiz_answers2.txt
/capitalsQuiz_answers3.txt
/capitalsQuiz_answers4.txt
/capitalsQuiz_answers5.txt
/capitalsQuiz_answers6.txt
/capitalsQuiz_answers7.txt
/capitalsQuiz_answers8.txt
/capitalsQuiz_answers9.txt
/capitalsQuiz_answers10.txt
/capitalsQuiz_answers11.txt
/capitalsQuiz_answers12.txt
/capitalsQuiz_answers13.txt
/capitalsQuiz_answers14.txt
/capitalsQuiz_answers15.txt
/capitalsQuiz_answers16.txt
/capitalsQuiz_answers17.txt
/capitalsQuiz_answers18.txt
/capitalsQuiz_answers19.txt
/capitalsQuiz_answers20.txt
/capitalsQuiz_answers21.txt
/capitalsQuiz_answers22.txt
/capitalsQuiz_answers23.txt
/capitalsQuiz_answers24.txt
/capitalsQuiz_answers25.txt
/capitalsQuiz_answers26.txt
/capitalsQuiz_answers27.txt
/capitalsQuiz_answers28.txt
/capitalsQuiz_answers29.txt
/capitalsQuiz_answers30.txt
/capitalsQuiz_answers31.txt
/capitalsQuiz_answers32.txt
/capitalsQuiz_answers33.txt
/capitalsQuiz_answers34.txt
/capitalsQuiz_answers35.txt